.kanban-wrapper h3{
  background-color: #efefef;
  padding: 10px;
  text-transform: uppercase;
}
.kanban-task-container{
  padding: 10px;
  border: 1px solid #cdcdcd;
  position: relative;
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  -ms-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  cursor: pointer;
  margin: 3px 0;
  background-color: rgba(48, 255, 99, 0.11);
}
.kanban-task-container:hover{
  opacity: 0.7;
}
.kanban-task-container img{
  position: absolute;
  right: 0;
  top: 1px;
  width: 30px;
  height: 37px;
}
.clear-link{
  text-decoration: none;
  color: #000;
}
.kanban-task-container .kanban-task-name{
  display: inline-block;
  max-width: calc(100% - 30px);
}
.kanban-task-container.Low{
  border:1px solid #cdcdcd;
}
.kanban-task-container.Normal{
  border:1px solid #000;
}
.kanban-task-container.High{
  border:1px solid #eeee33;
}
.kanban-task-container.Emergency{
  border:1px solid #ff2222;
}



.nav label {
  height: 100%;
  position: absolute;
  display: inline-block;
  padding: 0 3px;
  top: 0;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  font-size: 30px;
  transition: opacity .2s;
  color: #359;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(30, 250, 30,.5);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.nav:hover label { opacity: 1; }

.nav .next { right: 0; }
.nav .prev { left: 0; }
