.selected{
  background-color: #dedede !important;
  color: #fff !important;
}
.tasks-show{
  margin-top: 20px;
  padding:0;
}
.task-list{
  background-color: #fff;
  color: #000;
  border: 1px solid #dedede;
  cursor: pointer;
  padding:5px 10px;
  margin: 1px 0;
  text-transform: capitalize;
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  -ms-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}
.task-list:hover{
  background-color: #dedede;
  color: #fff;
}
.t-delete{
  float: right;
  display: inline-block;
}
.t-done{
  text-decoration: line-through;
  color: #22dd88;
}

@media screen and(max-width: 767px) {
.task-detail{
  padding: 0!important;
}
}
