.task-detail{
  padding: 10px;
  border: 1px solid #1d1d1d;
}

.task-detail .task-row{
  padding: 5px 10px;

}
.task-detail .task-row a{
  cursor: pointer;
  text-decoration: none;
}
.task-detail .task-row .task-header{
  display: inline-block;
  font-weight: bold;
  width: 110px;
}
