<div *ngIf="assignees_data">
  <div class="row" *ngIf="data">
    <div class="col-sm-3 kanban-wrapper">
      <h3>To do</h3>
      <div *ngFor="let task of data">
        <div class="kanban-task-container {{priorityEnum[task.priority]}}"  *ngIf="task.status === taskStatus.waiting">
          <span class="kb-left">  </span>
          <a [routerLink]="['edit',task.id]" class="clear-link">
            <span class="kanban-task-name">{{task.name}}</span>
          </a>
          <img src="{{assignees_data[task.assignee].img}}" title="{{assignees_data[task.assignee].name}}" alt="ten nguoi">
          <span class="kb-right">  </span>
        </div>

      </div>
    </div>
    <div class="col-sm-3 kanban-wrapper">
      <h3>Doing</h3>
      <div *ngFor="let task of data">
        <div class="kanban-task-container {{priorityEnum[task.priority]}}" *ngIf="task.status === taskStatus.processing">
          <span class="kb-left">  </span>
          <a [routerLink]="['edit',task.id]" class="clear-link">
            <span class="kanban-task-name">{{task.name}}</span>
          </a>
          <img src="{{assignees_data[task.assignee].img}}" title="{{assignees_data[task.assignee].name}}" alt="ten nguoi">
          <span class="kb-right">  </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3 kanban-wrapper">
      <h3>Reviewing</h3>
      <div *ngFor="let task of data">
        <div class="kanban-task-container {{priorityEnum[task.priority]}}" *ngIf="task.status === taskStatus.review">
          <span class="kb-left">  </span>
          <a [routerLink]="['edit',task.id]" class="clear-link">
            <span class="kanban-task-name">{{task.name}}</span>
          </a>
          <img src="{{assignees_data[task.assignee].img}}" title="{{assignees_data[task.assignee].name}}" alt="ten nguoi">
          <span class="kb-right">  </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3 kanban-wrapper">
      <h3>Done</h3>
      <div *ngFor="let task of data">
        <div class="kanban-task-container {{priorityEnum[task.priority]}}" *ngIf="task.status === taskStatus.done">
          <span class="kb-left">  </span>
          <a [routerLink]="['edit',task.id]" class="clear-link">
            <span class="kanban-task-name">{{task.name}}</span>
          </a>
          <img src="{{assignees_data[task.assignee].img}}" title="{{assignees_data[task.assignee].name}}" alt="ten nguoi">
          <span class="kb-right">  </span>
        </div>
      </div>
    </div>
  </div>
</div>
