<div class="task-detail form-group" *ngIf="taskSelected">
  <span (click)="closeDetail()" class="close-task fa fa-times"></span>
  <h4>Task detail</h4>
  <div class="task-row" id="status" ><span  class="task-header">Status</span> <span [class.yellow]="taskSelected.status === statusIndex.processing" [class.green]="taskSelected.status === statusIndex.done" [class.red]="taskSelected.status === statusIndex.cancel">{{ taskStatus[taskSelected.status] }}</span></div>
  <div class="task-row" id="priority" ><span  class="task-header">Priority</span> {{taskPriority[taskSelected.priority] }}</div>
  <div class="task-row" id="id" ><span  class="task-header">Task Id</span> {{taskSelected.id}}</div>
  <div class="task-row" id="name" ><span  class="task-header">Name</span> {{taskSelected.name}}</div>
  <div class="task-row" id="desc" ><span  class="task-header">Description</span> {{taskSelected.desc}}</div>
  <div class="task-row" id="created" ><span  class="task-header">Created</span> {{taskSelected.created | date}}</div>
  <div class="task-row" id="deadline" ><span  class="task-header">Deadline</span> {{taskSelected.deadline | date}}</div>
  <div class="task-row" id="edit" > <a class="task-btn" [routerLink]="['edit/',taskSelected.id]"><span class="fa fa-pencil-square-o"></span></a></div>
</div>
