<div class="task-detail form-group" *ngIf="task_editing">
  <h4>Task detail</h4>
  <div class="task-row" id="status" ><span class="task-header">Status</span> {{ taskStatus.status[task_editing.status] }}</div>
  <div class="task-row" id="priority" ><span class="task-header">Priority</span> {{taskPriority.priority[task_editing.priority] }}</div>
  <div class="task-row" id="id" ><span class="task-header">Task Id</span> {{task_editing.id}}</div>
  <div class="task-row " id="name" ><span class="task-header">Name</span> <input class="form-control" [(ngModel)]="task_editing.name" placeholder="name" > </div>
  <div class="task-row " id="desc" ><span class="task-header">Description</span> <textarea class="form-control" [(ngModel)]="task_editing.desc" placeholder="Description" ></textarea></div>
  <div class="task-row" id="created" ><span class="task-header">Created</span> {{task_editing.created | date}}</div>
  <div class="task-row" id="deadline" ><span class="task-header">Deadline</span> {{task_editing.deadline | date}}</div>
  <div class="task-row" id="save" ><a (click)="save()">Save</a></div>
</div>
