/* You can add global styles to this file, and also import other style files */
.green{
  color: #2d8;
}
.yellow{
  color: #dd1;
}
.red{
  color: #ee3355;
}
.Low{
  border:1px solid #cdcdcd  !important;
}
.Normal{
  border:1px solid #000 !important;
}
.High{
  border:1px solid #eeee33 !important;
}
.Emergency{
  border:1px solid #ff2222 !important;
}
